

@font-face {
    font-family: 'freight_big_problack';
    src: url('freight_big_pro_black-webfont.woff2') format('woff2'),
         url('freight_big_pro_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_problack_italic';
    src: url('freight_big_pro_black_italic-webfont.woff2') format('woff2'),
         url('freight_big_pro_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_prosemibold';
    src: url('freight_big_pro_semibold-webfont.woff2') format('woff2'),
         url('freight_big_pro_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_proSBdIt';
    src: url('freight_big_pro_semibold_italic-webfont.woff2') format('woff2'),
         url('freight_big_pro_semibold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_promedium';
    src: url('freight_big_pro_medium-webfont.woff2') format('woff2'),
         url('freight_big_pro_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_promedium_italic';
    src: url('freight_big_pro_medium_italic-webfont.woff2') format('woff2'),
         url('freight_big_pro_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_prolight';
    src: url('freight_big_pro_light-webfont.woff2') format('woff2'),
         url('freight_big_pro_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_prolight_italic';
    src: url('freight_big_pro_light_italic-webfont.woff2') format('woff2'),
         url('freight_big_pro_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_probook';
    src: url('freight_big_pro_book-webfont.woff2') format('woff2'),
         url('freight_big_pro_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_probook_italic';
    src: url('freight_big_pro_book_italic-webfont.woff2') format('woff2'),
         url('freight_big_pro_book_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_probold';
    src: url('freight_big_pro_bold-webfont.woff2') format('woff2'),
         url('freight_big_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'freight_big_probold_italic';
    src: url('freight_big_pro_bold_italic-webfont.woff2') format('woff2'),
         url('freight_big_pro_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}